<!DOCTYPE html>
<html>
<head>

    <% if (typeof js_includes !== 'undefined') { %>
    <% for(var i=0; i < js_includes.length; i++) { %>
    <script src="<%= js_includes[i] %>"></script>
    <% }%>
    <% }%>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>


        #header {
            text-align: left;


        }

        img:hover {
            opacity:0.5;
            cursor: pointer;
            transition: 0.5s;

        }


        img:hover:after{

        }

        img {
            width: 25%;
            height: 25%;
        }


        #content {
            text-align:center;
            padding:0px;
            width:100%;
            height:auto;
            border-style: solid;
            border-width: 2px;
            border-color: orange;
            opacity:0.80;
            float:bottom;
            padding:10px;
        }

        #footer {
            position:fixed;bottom:0;
            width:90%;
            background-color:gray;
            opacity:.50;
            text-align:center;
            float:bottom;
            padding:5px;
        }

        .crossRotate:hover {
            transform: rotate(0deg);
        }

    </style>
</head>
<body>

<div id="header">

    <a href="/">
        <img src="http://pre00.deviantart.net/c1a7/th/pre/f/2015/168/a/d/call_of_duty__black_ops_3__logo__by_felpscaslop-d8xpxt0.png">
    </a>

    <a href="/leaderboards/zombieLeaderboards">
        <img style="float: right;margin-top: 1%;width: 64px;height:64px" class="crossRotate" src="http://38.media.tumblr.com/avatar_1be00098a561_128.png" hspace="15">
    </a>

    <a href="/leaderboards/multiplayerLeaderboards">
        <img style="float: right;margin-top: 1%;width: auto;height:auto" src="https://i.exophase.com/psn/awards/a602f103/s/121515.png" hspace="15">
    </a>

    <a href="/leaderboards/campaignLeaderboards">
        <img style="float: right;margin-top: 1%;width: 64px;height:64px" src="http://newestcallofduty.com/wp-content/uploads/2015/06/Call-of-Duty-Black-Ops-3-Screenshot-10-500x500_c.jpg" hspace="15">
    </a>

    <% if(typeof username !== "undefined") { %><a href="/logout">Logout</a><% } %>

    <div style="float:right;">
        <font color = white>
            <% if(typeof username !== "undefined") { %>
            Welcome, <%= username %>
            <% } else { %>
            <a href="/login">Login</a>
            <% } %>
        </font>
    </div>

    <% if(typeof username !== "undefined") { %><a href="/logout">Logout</a><% } %>

  <div/>


