<!DOCTYPE html>
<html>
<head>

    <% if (typeof js_includes !== 'undefined') { %>
    <% for(var i=0; i < js_includes.length; i++) { %>
    <script src="<%= js_includes[i] %>"></script>
    <% }%>
    <% }%>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>


        #header {
            text-align: left;


        }

        img:hover {
            opacity:0.5;
            cursor: pointer;
            transition: 0.5s;

        }


        img:hover:after{

        }

        img {
            width: 25%;
            height: 25%;
        }


        #nav {
            border-style: solid;
            border-width: 2px;
            border-color: orange;
            text-align:center;
            opacity:0.75;
            float:left;
            padding:10px;
            height:100%;
            width:22%;
            font-size: 110%;
        }



        #content {
            float:right;
            text-align:left;
            padding:25px;
            width:60%;
            height:100%;
        }

        #footer {
            position:fixed;bottom:0;
            width:90%;
            background-color:gray;
            opacity:.50;
            text-align:center;
            float:bottom;
            padding:5px;
        }

        .crossRotate:hover {
            transform: rotate(0deg);
        }

    </style>
</head>
<body>

<div id="header">

    <a href="/">
    <img src="http://pre00.deviantart.net/c1a7/th/pre/f/2015/168/a/d/call_of_duty__black_ops_3__logo__by_felpscaslop-d8xpxt0.png">
    </a>

    <a href="/leaderboards/zombieLeaderboards">
        <img style="float: right;margin-top: 1%;width: 64px;height:64px" class="crossRotate" src="http://38.media.tumblr.com/avatar_1be00098a561_128.png" hspace="15">
    </a>

    <a href="/leaderboards/multiplayerLeaderboards">
        <img style="float: right;margin-top: 1%;width: auto;height:auto" src="https://i.exophase.com/psn/awards/a602f103/s/121515.png" hspace="15">
    </a>

    <a href="/leaderboards/campaignLeaderboards">
        <img style="float: right;margin-top: 1%;width: 64px;height:64px" src="http://newestcallofduty.com/wp-content/uploads/2015/06/Call-of-Duty-Black-Ops-3-Screenshot-10-500x500_c.jpg" hspace="15">
    </a>

    <div style="float:right;">
        <font color = white>
        <% if(typeof username !== "undefined") { %>
        Welcome, <%= username %>
        <% } else { %>
        <a href="/login">Login</a>
        <% } %>
        </font>
    </div>

    <% if(typeof username !== "undefined") { %><a href="/logout">Logout</a><% } %>

</div>

<br>
<br>

<div id="nav">
    <font color="white">

    <a href ="/" style="color: white">Home</a>
    <br/><br/>
    <a href ="/about" style="color: white">About</a>
    <br/><br/>
        <a href ="/leaderboards" style="color: white">Leaderboards</a>
        <br/><br/>
        <a href ="https://www.callofduty.com/BlackOps3" style="color: white">Official Website</a>





    </font>
</div>

