<% include ../partials/header2.ejs%>

<link rel='stylesheet' href='/stylesheets/style.css' />
<style>

    body {
        background-image: url(https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcjH7Y0zrFAw6OK32H4ByBTK3XKBmgscHXo2gFp5bhlVOMt5Yj4uF_XZJUW_K5wspy0xNbN0vMrejWiAgF57E3.aQNYJyyvdjGAiANBWwZSeqj2mIctn22NWSd.rQtZi26MaAyToeStc2EGIv6e_wQvArhRKyDDdjOZ_FZug7Nv.A-&format=jpg);
        background-size: cover;
        background-attachment: fixed;


    }

    table, th, td {

        border: 3px solid darkorange;
        border-collapse: collapse;
        word-wrap:break-word;
        padding: 5px;
    }



</style>

<div id="content">
    <font color="white">
        <h2>You have been logged out.</h2>
        <h4><p><a href="/login">Login Again?</a></p></h4>
    </font>
</div>



<% include ../partials/footer.ejs%>
