<% include partials/header.ejs%>

<link rel='stylesheet' href='/stylesheets/style.css' />
<style>

    body {
        background-image: url(https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcjH7Y0zrFAw6OK32H4ByBTK3XKBmgscHXo2gFp5bhlVOMt5Yj4uF_XZJUW_K5wspy0xNbN0vMrejWiAgF57E3.aQNYJyyvdjGAiANBWwZSeqj2mIctn22NWSd.rQtZi26MaAyToeStc2EGIv6e_wQvArhRKyDDdjOZ_FZug7Nv.A-&format=jpg);
        background-size: cover;
        background-attachment: fixed;

    }

    #content {

        }


</style>

<div id="content">

    <font color="white">
<h2> <left><center>About This Website</center></left></h2>
    <br/>

        This website contains stats of players in the newest installment of Call of Duty...Black Ops 3.

        <h3><center>About the Developer</center></h3>
        Treyarch is an American video game developer company, founded in 1996 by Peter Akemann
        and Doğan Köslü (aka Don Likeness), and acquired by Activision in 2001. Located in Santa
        Monica, California, it has produced multiple games, including Call of Duty 2: Big Red One,
        Call of Duty 3, Call of Duty: World at War, Call of Duty: Black Ops, Call of Duty: Black
        Ops II, and Call of Duty: Black Ops III.
        <br><br>
        Activision Publishing, Inc. is an American video game publisher. It was founded on October 1,
        1979 and was the world's first independent developer and distributor of video games for
        gaming consoles. Its first products were cartridges for the Atari 2600 video console system
        published from July 1980 for the US market and from August 1981 for the international market
        (UK). Activision is now one of the largest third party video game publishers in the world
        and was also the top publisher for 2007 in the United States.
        <br>
        <br>

        <h3><center>Contact</center></h3>
        <center>1234 InternetLag Street, Rust, California, 12345<br>
        blackops3@fps.com<br>
        1-919-123-4567<br></center>
        <br>






        </font>
</div>

<% include partials/footer.ejs%>