<% include partials/header.ejs%>


<link rel='stylesheet' href='/stylesheets/style.css' />
<style>

    body {

        background-image: url(https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcjH7Y0zrFAw6OK32H4ByBTK3XKBmgscHXo2gFp5bhlVOMt5Yj4uF_XZJUW_K5wspy0xNbN0vMrejWiAgF57E3.aQNYJyyvdjGAiANBWwZSeqj2mIctn22NWSd.rQtZi26MaAyToeStc2EGIv6e_wQvArhRKyDDdjOZ_FZug7Nv.A-&format=jpg);
        background-size: cover;
        background-attachment: fixed;

    }


</style>

<div id="content">
    <font color="white">
        <h1><center>Call of Duty: Black Ops 3: Stats Tracker</center></h1>
        <p>Welcome to Call of Duty: Black Ops 3: Stats Tracker.</p>
    </font>
    <a href="/create">Create a New User!</a>
<br>
    <br>
    <img src="http://i.kinja-img.com/gawker-media/image/upload/s--WAkx_Qk5--/c_fit,f_auto,fl_progressive,q_80,w_636/bd1mibepzr5ff3vlnaxn.gif">

</div>

<% include partials/footer.ejs%>