<% include partials/header3.ejs%>


<link rel='stylesheet' href='/stylesheets/style.css' />
<style>

    body {
        background-image: url(https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcjH7Y0zrFAw6OK32H4ByBTK3XKBmgscHXo2gFp5bhlVOMt5Yj4uF_XZJUW_K5wspy0xNbN0vMrejWiAgF57E3.aQNYJyyvdjGAiANBWwZSeqj2mIctn22NWSd.rQtZi26MaAyToeStc2EGIv6e_wQvArhRKyDDdjOZ_FZug7Nv.A-&format=jpg);
        background-size: cover;
        background-attachment: fixed;


    }



</style>

<div id="content">
    <br/><br/><br/><br/>

    <a href="/leaderboards/campaignLeaderboards">
        <img style="margin-top: 1%;width: 25%;height:25%" src="http://newestcallofduty.com/wp-content/uploads/2015/06/Call-of-Duty-Black-Ops-3-Screenshot-10-500x500_c.jpg" hspace="15">
    </a>
    <a href="/leaderboards/multiplayerLeaderboards">
        <img style="margin-top: 1%;width: 25%;height:25%" src="http://cf1.souqcdn.com/item/2015/10/17/92/94/55/5/item_XL_9294555_10076079.jpg" hspace="15">
    </a>
    <a href="/leaderboards/zombieLeaderboards">
        <img style="margin-top: 1%;width: 25%;height:25%" src="http://www.femalefirst.co.uk/image-library/square/500/b/black-ops-3-shadows-of-evil-zombies2.jpg" hspace="15">
    </a>

</div>

<% include partials/footer.ejs%>