<% include partials/header.ejs%>

<link rel='stylesheet' href='/stylesheets/style.css' />
<style>

    body {
        background-image: url(https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcjH7Y0zrFAw6OK32H4ByBTK3XKBmgscHXo2gFp5bhlVOMt5Yj4uF_XZJUW_K5wspy0xNbN0vMrejWiAgF57E3.aQNYJyyvdjGAiANBWwZSeqj2mIctn22NWSd.rQtZi26MaAyToeStc2EGIv6e_wQvArhRKyDDdjOZ_FZug7Nv.A-&format=jpg);
        background-size: cover;
        background-attachment: fixed;


    }

    table, th, td {

        border: 3px solid darkorange;
        border-collapse: collapse;
        word-wrap:break-word;
        padding: 5px;

    }



</style>



<div id="content">
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th colspan = "3" align="center"><font color="white">Multiplayer Leaderboard</font></th></tr>
            <td align="center"><font color="white"> Rank </font></td>
            <td align="center"><font color="white"> Username </font> </td>
            <td align="center"><font color="white"> Score </font> </td>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>



            <td><font color="white"><%=i + 1%></font></td>
            <td><a href="/profile/?user_id=<%= rs[i].user_id %>"> <%= rs[i].username %></a></td>
            <td><font color="white"><%=rs[i].score%></font></td>

        </tr>
        <% } %>
    </table>
    <% } else { %>
    No users exist.
    <% } %>

</div>

<% include partials/footer.ejs%>