<% include partials/header2.ejs%>

<link rel='stylesheet' href='/stylesheets/style.css' />
<style>

    body {
        background-image: url(https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcjH7Y0zrFAw6OK32H4ByBTK3XKBmgscHXo2gFp5bhlVOMt5Yj4uF_XZJUW_K5wspy0xNbN0vMrejWiAgF57E3.aQNYJyyvdjGAiANBWwZSeqj2mIctn22NWSd.rQtZi26MaAyToeStc2EGIv6e_wQvArhRKyDDdjOZ_FZug7Nv.A-&format=jpg);
        background-size: cover;
        background-attachment: fixed;


    }

    table, th, td {

        border: 3px solid darkorange;
        border-collapse: collapse;
        word-wrap:break-word;
        padding: 5px;
    }



</style>


<div id="content">
    <font color="white">
<h2> <%=rs[0].username%>  </h2>
        <br>
        <br>
        <br>
        <h2>
        Campaign Score <%=rs[0].c_score%> || Campaign Kills <%= rs[0].c_kills%>
        <br>
        Multiplayer Score <%=rs[0].m_score%> || Multiplayer Kills <%=rs[0].m_kills%>
        <br>
        Zombie Score <%=rs[0]._score%> || Zombie Kills <%=rs[0].z_kills%>
            </h2>
    </font>
</div>

<% include partials/footer.ejs%>